<div class="col-xs-12 col-sm-12">
  <div class="panel-box">
    <div class="panel-head">
      <% if template.persisted? %>
          <h2>Update Tempate</h2>
      <% else %>
          <h2>Create Tempate</h2>
      <% end %>
    </div>
    <div class="dc-management-form">
      <%= form_for(template, html: {class: 'form-horizontal', multipart: true}) do |f| %>
        <div class="form-group">
          <div class="col-xs-12 col-sm-12 mb-xs-15">
            <div class="row">
              <div class="col-xs-12 col-sm-5 mb-xs-15">
                <%= f.text_field :name, class: 'form-control', placeholder: "Tempate Name Here" %>
              </div>
              <div class="col-xs-12 col-sm-7">
                <div class="file-upload cs-templete">
                  <div class="file-select">
                    <div class="file-select-name" id="noFile">JSON Name Here</div>
                    <%= f.hidden_field :json_name, id: 'json_name' %>
                    <%= f.file_field :hardware_json, id: "chooseFile" %>
                    <div class="file-select-button" id="fileName">Import JSON</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 mb-xs-15">
            <div class="row">
              <div class="col-xs-12 col-sm-5 mb-xs-15 template-image">
                <div class="file-upload">
                  <div class="file-select">
                    <div class="file-select-name  device-image">Upload Template Image</div>
                    <%= f.file_field :image %>
                    <div class="imageupload device-image">
                      <div class="file-tab panel-body">
                        <label class="btn btn-default btn-file">
                          <span>Browse</span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <%= image_tag(f.object.image, class: 'display-image', id: 'templateImage') if template.persisted? %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12 text-center">
            <%= f.submit 'Submit', class: 'btn submit-btn-green' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script>
  $('#template_image').change(function(event) {
    $('#templateImage').attr('src',URL.createObjectURL(event.target.files[0]));
  });
</script>